---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Luhad Technologies | Home">
  <main>
    <Navbar />
    <Hero />
    <!-- <h1 class="font-display text-lg">Hello!</h1> -->
    <div class="text-center flex justify-center">
      <p class="max-w-[100ch]">
		<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Convallis posuere
        morbi leo urna molestie at elementum. Facilisi nullam vehicula ipsum a
        arcu cursus vitae. Tincidunt tortor aliquam nulla facilisi cras
        fermentum odio. Tincidunt nunc pulvinar sapien et ligula ullamcorper
        malesuada proin libero. Dolor sed viverra ipsum nunc aliquet bibendum
        enim facilisis gravida. Dolor sit amet consectetur adipiscing elit duis
        tristique sollicitudin nibh. Et malesuada fames ac turpis. Purus in
        massa tempor nec feugiat nisl pretium fusce id. Aliquam sem et tortor
        consequat id porta nibh venenatis. Vestibulum morbi blandit cursus risus
        at ultrices mi tempus imperdiet. Dui ut ornare lectus sit amet est
        placerat in. Cursus eget nunc scelerisque viverra mauris in aliquam sem.
        Nulla at volutpat diam ut venenatis tellus in metus. Cursus metus
        aliquam eleifend mi in nulla posuere sollicitudin. At erat pellentesque
        adipiscing commodo elit at imperdiet dui accumsan. Diam donec adipiscing
        tristique risus nec feugiat. Leo integer malesuada nunc vel risus
        commodo. Amet porttitor eget dolor morbi non.
        <br /><br />
        Libero justo laoreet sit amet cursus sit. Est lorem ipsum dolor sit amet
        consectetur adipiscing elit pellentesque. Sit amet cursus sit amet dictum.
        Lacus suspendisse faucibus interdum posuere. Malesuada pellentesque elit
        eget gravida cum sociis natoque penatibus et. Sed viverra ipsum nunc aliquet.
        Bibendum at varius vel pharetra. Tellus id interdum velit laoreet id donec
        ultrices tincidunt. Vitae proin sagittis nisl rhoncus mattis rhoncus urna
        neque. Sit amet tellus cras adipiscing enim eu turpis. Natoque penatibus
        et magnis dis. At quis risus sed vulputate odio. Malesuada nunc vel risus
        commodo. Tristique senectus et netus et malesuada fames ac turpis egestas.
        At augue eget arcu dictum varius duis at consectetur. Lobortis elementum
        nibh tellus molestie nunc non blandit massa. Feugiat sed lectus vestibulum
        mattis ullamcorper velit sed. Nisl nisi scelerisque eu ultrices vitae. Etiam
        erat velit scelerisque in dictum.
        <br /><br />
        Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Gravida rutrum
        quisque non tellus orci ac auctor augue mauris. Interdum consectetur libero
        id faucibus nisl tincidunt eget nullam. Molestie at elementum eu facilisis.
        Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Faucibus et molestie
        ac feugiat sed lectus vestibulum. Viverra suspendisse potenti nullam ac tortor
        vitae purus. Dignissim suspendisse in est ante in nibh mauris cursus mattis.
        Nisl nunc mi ipsum faucibus vitae aliquet. Placerat in egestas erat imperdiet
        sed.
        <br /><br />
        Leo duis ut diam quam nulla porttitor massa. Sagittis aliquam malesuada bibendum
        arcu vitae. Laoreet sit amet cursus sit amet dictum. Ipsum suspendisse ultrices
        gravida dictum fusce ut placerat. Sem nulla pharetra diam sit amet. Felis
        imperdiet proin fermentum leo vel orci porta. Dictumst quisque sagittis purus
        sit amet volutpat consequat. Augue interdum velit euismod in pellentesque
        massa. Quam viverra orci sagittis eu volutpat odio. Euismod nisi porta lorem
        mollis aliquam ut porttitor leo. Arcu ac tortor dignissim convallis aenean.
        Pretium nibh ipsum consequat nisl vel pretium. Morbi tristique senectus et
        netus et malesuada.
        <br /><br />
        Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Scelerisque
        viverra mauris in aliquam. Dolor morbi non arcu risus quis varius quam quisque
        id. Eget mi proin sed libero enim. Tellus in hac habitasse platea dictumst.
        Sit amet porttitor eget dolor morbi non arcu risus quis. Vitae turpis massa
        sed elementum tempus egestas. Malesuada proin libero nunc consequat interdum
        varius sit. Purus semper eget duis at tellus at. Sed euismod nisi porta lorem
        mollis aliquam ut porttitor. Massa tincidunt nunc pulvinar sapien et ligula
        ullamcorper. Elementum sagittis vitae et leo duis ut diam. Ultrices neque
        ornare aenean euismod elementum nisi quis. Erat nam at lectus urna. Nulla
        malesuada pellentesque elit eget gravida cum. Urna molestie at elementum
        eu facilisis.
      </p>
    </div>
  </main>
</Layout>
