---
---

<div
  class="bg-gradient-to-br from-luhad-red via-luhad-purple to-luhad-blue h-screen text-white flex justify-center items-center flex-col font-display uppercase font-bold"
>
  <h1
    class="text-center text-3xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl leading-tight]"
  >
    Modern Solutions<br />Start Here
  </h1>
  <a class="text-5xl block mt-10 p-3 border-4 rounded" href="/">Explore Solututions</a>
</div>
