---
import NavButton from "./NavButton.astro";
---

<div class="bg-luhad-purple bg-opacity-90 w-screen py-2 block fixed top-0 mb-4">
  <navbar class="flex flex-row justify-around items-center">
    <NavButton href="/" text="Home" />
    <NavButton href="/" text="About" />
    <a href="/">
      <img src="/luhad square.jpg" alt="logo" class="h-20" />
    </a>
    <NavButton href="/" text="Products" />
    <NavButton href="/" text="Solutions" />
  </navbar>
</div>
