---
export interface Props {
  text: string;
  href: string;
  disabled?: boolean;
}
const { href, text, disabled } = Astro.props;
---

{
  disabled ? (
    <p class="">{text}</p>
  ) : (
    <a
      class=""
      href={href}
    >
      {text}
      <span class="" />
    </a>
  )
}
