---
import NavButton from "./NavButton.astro";
---

<div class="">
  <navbar class="flex flex-row justify-around items-center">
    <NavButton href="/" text="Home" />
    <NavButton href="/" text="About" disabled/>
    <a href="/">
      <img src="/luhad square.jpg" alt="logo" class="h-20" />
    </a>
    <NavButton href="/" text="Products" disabled/>
    <NavButton href="/" text="Solutions" disabled/>
  </navbar>
</div>
